
/* VARIABLES */

/* defaults */
#articles {
    --row-height: min-content; 
    /* card grid sizes */
    --single-width: span 1;
    --double-width: span 2;
    --single-height: span 1;
    --double-height: span 1;
    --max-article-img-width: 40%;
    --article-img-ratio: 1 / 1;
    --max-width: 1000px;
    --article-flex-dir: row;
}

/**
 * designed for min inner width of 300px
 */

@media (max-width: 719px) {
    #articles {
        --article-flex-dir: column;
        --max-width: 600px;
        --single-width: span 4;
        --double-width: span 4;
        --single-height: span 1;
        --double-height: span 2;
        --article-img-ratio: 2 / 1;
        --max-article-img-width: 100%;
    }
}

@media (min-width: 720px) and (max-width: 999px) {
    #articles {
        --single-width: span 2;
        --double-width: span 4;
        --max-article-img-width: 25%;
    }
}

@media (min-width: 1000px) {
    #articles {
        --single-width: span 2;
        --double-width: span 4;
        --max-article-img-height: 280px;
        --max-article-img-width: 25%;
    }
}

@media (min-width: 1200px) {
    #articles {
        --single-width: span 1;
        --double-width: span 2;
        --article-img-ratio: 3 / 4;
        --max-width: 1300px;
        --max-article-img-width: 30%;
        --max-article-img-height: 330px;
    }
}

@media (min-width: 1400px) {
    #articles {
        --single-width: span 1;
        --double-width: span 2;
        --article-img-ratio: 1 / 1;
        --max-width: 1500px;
        --max-article-img-height: 360px;
    }
}


#articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    margin: 16px auto;
    max-width: var(--max-width);
}


.card {
    margin: 10px;
    padding: 0;
    background: white;
    border-radius: 8px;
    border: 2px solid var(--background-colour);
    border-bottom: 4px solid var(--accent-colour);
    min-height: 280px;
    height: auto;
}

.card:hover {
    border: 2px solid var(--accent-colour);
    border-bottom: 4px solid var(--accent-colour);
}

.card.feature:hover {
    border: 2px solid white;
    border-bottom: 4px solid white;
}

.card.feature {
    padding: 16px 0;
    background: var(--accent-colour);
    color: white;
    text-align: center;
}

.feature .article-preview {
    padding: 0 32px;
}

.article-title.feature {
    font-size: 1.6em;
}

.col1 {
    grid-column: var(--single-width);
}

.row1 {
    grid-row: var(--single-height);
}

.col2 { 
    grid-column: var(--double-width);
}

.row2 {
    grid-row: var(--double-height);
}

.cols {
    display: flex;
    flex-direction: var(--article-flex-dir);
}

.rows {
    display: flex;
    flex-direction: column;
}

.rows.advert {
    justify-content: space-between;
    height: 100%;
    min-height: 260px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
}

.article-title {
    margin: 8px 0 4px 0;
}

.article-preview {
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-image {
    width: 100%;
    max-width: var(--max-article-img-width);
    object-fit: cover;
    border-radius: 5px;
}

.article-link {
    display: block;
    margin: 10px;
}


.article-header {
    flex-basis: auto;
}

.article-teaser {
    margin: 0.5em 0;
}

.button {
    display: block;
    background: var(--accent-colour);
    color: white;
    margin: 12px;
    padding: 4px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
}


.button.inverted {
    background: white;
    color: var(--accent-colour);
}


.author-thumb {
    --size: 2em;
    width: var(--size);
    height: var(--size);
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--accent-colour);
}

.feature .author-thumb {
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.7);
}

.article-cta {
    margin: 0;
    font-style: italic;
}

.article-cta::after {
    content: " »";
}


.card-link {
    height: 100%;
}

/*
 * This will only apply the style to the second selector when hovering over the
 * first.
 */
.card-link:hover .article-cta {
    color: var(--accent-colour);
    font-weight: 700;
}

.card-link:hover .button {
    opacity: 0.8;
}

#butt-cover-ad {
    padding: 0;
    height: auto;
    background:         
        url("../ads/butt-cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--accent-colour);
    color: white;
}

/** 
 * my ad blocker hides elements with these classes: 
 */
.ad-title, .ad-tagline {
    margin: 0;
}

.ad-tagline {
    line-height: 1.1rem;
    padding: 0 28px;
}


.ad-tag {
    margin: 8px;
    text-transform: uppercase;
    font-size: 0.5em;
}

.ad-content {
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#load-indicator {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#load-indicator-image {
    max-width: 64px;
}

.pagination {
    margin: 16px auto 32px;
}