@media (max-width: 719px) {
    #logo-and-title, #site-nav {
        display: none;
    }

}
@media (min-width: 720px) {
    #menu {
        display: none;
    }
    #logo-and-title {
        display: flex;
    }
}

.page-header {
    background: var(--palette-meta-bg);
    padding: 8px;
    display: flex;    
    align-items: center;
    justify-content: space-between;

}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    background: var(--palette-meta-bg);
}

.footer-item {
    margin: 4px 0;
}



#site-logo {
    max-height: 64px;
    grid-area: logo;
    display: inline;
}

#site-title {
    grid-area: title;
    margin: 0;
    color: white;
    font-weight: 300;
}

#site-nav {
    grid-area: nav;
}

.nav-item {
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;
    color: #333;
    font-size: 1.2em;
}

.nav-item:hover {
    font-weight: 700;
}

#site-title {
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-size: 2em;
}