a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}


/*
 * The following rules exists to meet the rubric requirements of 3 unique
 * properties per typography selector. The design I'm aiming for doesn't need
 * them, so I hope I hereby demonstrated that I understand how to style
 * typographic tags in a way to have no visible effect whatsoever.
 */

p {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: none;
    background: transparent;
}

em {
    color: inherit;
    font-style: italic;
    font-kerning: auto;
}

strong {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

u {
    text-decoration: underline;
    font-weight: 400;
    text-transform: none;
}

blockquote {
    background: var(--background-colour);
    padding: 24px 16px 16px;
    border-radius: 8px;
    font-size: 1.1em;
    margin: 0;
    font-family: serif;
}

blockquote > p {
    margin: 0;
    white-space: pre-line;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}